<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <a href="toc">
      <img src="/assets/northstarcircle.jpg" alt="" />
    </a>
      <ion-card-header>
        
        <ion-card-title>Welcome To The Stars</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>A novel about a young boy's dreams of someday going to the stars</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label></ion-label>
      </ion-list-header>
      <!-- <ion-item href="toc">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Start Reading</ion-label>
      </ion-item> -->
    </ion-list>
</ion-content>


